admin_portal_n8n_workflow.json
{
  "name": "Admin Service Portal Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "48c0cd3b-20d8-43c2-a4dc-e6b5dfd208f9",
        "responseMode": "onReceived",
        "responseData": "success"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "48c0cd3b-20d8-43c2-a4dc-e6b5dfd208f9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "request_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "request_created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status_changed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "request_cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "request_cancelled"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-event",
      "name": "Switch on event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XQYif9RZA7Ch0337huXmSYL/MENaZz7CTwIlx35MB8t0n/nIAIvjNb6m1lkHPQyAQeTpzcHlZawjwQWpYPde9+H+znxFNHc44og9PKQ9NOwg9KxIX3LzIonCWlzxEZjpOECiiZgD7pYQc/m0428HqAdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"to\": \"Ub5d366082158f0fe3cde3d824e0ea449\",\n  \"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"📋 New request created\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"size\": \"mega\",\n        \"header\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"backgroundColor\": \"#06C755\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"⚡ Service Portal\",\n              \"color\": \"#ffffff\",\n              \"weight\": \"bold\",\n              \"size\": \"sm\"\n            }\n          ]\n        },\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"20px\",\n          \"spacing\": \"md\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"New Request Created\",\n              \"weight\": \"bold\",\n              \"size\": \"xl\",\n              \"color\": \"#1c1917\"\n            },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"sm\",\n              \"margin\": \"lg\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"Title\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.title }}\",\n                      \"color\": \"#1c1917\",\n                      \"size\": \"sm\",\n                      \"weight\": \"bold\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"User\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.user_name }}\",\n                      \"color\": \"#1c1917\",\n                      \"size\": \"sm\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"Email\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.user_email }}\",\n                      \"color\": \"#1c1917\",\n                      \"size\": \"sm\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"ID\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.request_id }}\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"xs\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        },\n        \"footer\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"button\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"Review Request\",\n                \"uri\": \"https://liff.line.me/2010375597-spCTVMCi\"\n              },\n              \"style\": \"primary\",\n              \"color\": \"#06C755\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"
      },
      "id": "line-push-created",
      "name": "LINE push — new request (admin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer XQYif9RZA7Ch0337huXmSYL/MENaZz7CTwIlx35MB8t0n/nIAIvjNb6m1lkHPQyAQeTpzcHlZawjwQWpYPde9+H+znxFNHc44og9PKQ9NOwg9KxIX3LzIonCWlzxEZjpOECiiZgD7pYQc/m0428HqAdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"to\": \"Ub5d366082158f0fe3cde3d824e0ea449\",\n  \"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"🚫 Request cancelled\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"size\": \"mega\",\n        \"header\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"backgroundColor\": \"#EF4444\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"⚡ Service Portal\",\n              \"color\": \"#ffffff\",\n              \"weight\": \"bold\",\n              \"size\": \"sm\"\n            }\n          ]\n        },\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"20px\",\n          \"spacing\": \"md\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"Request Cancelled\",\n              \"weight\": \"bold\",\n              \"size\": \"xl\",\n              \"color\": \"#1c1917\"\n            },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"sm\",\n              \"margin\": \"lg\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"User\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.user_name }}\",\n                      \"color\": \"#1c1917\",\n                      \"size\": \"sm\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"Email\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.user_email }}\",\n                      \"color\": \"#1c1917\",\n                      \"size\": \"sm\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"ID\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"sm\",\n                      \"flex\": 2\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": \"{{ $json.body.request_id }}\",\n                      \"color\": \"#78716c\",\n                      \"size\": \"xs\",\n                      \"wrap\": true,\n                      \"flex\": 5\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        },\n        \"footer\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"button\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"Open Portal\",\n                \"uri\": \"https://liff.line.me/2010375597-spCTVMCi\"\n              },\n              \"style\": \"primary\",\n              \"color\": \"#EF4444\"\n            }\n          ]\n        }\n      }\n    }\n  ]\n}"
      },
      "id": "line-push-cancelled",
      "name": "LINE push — cancelled (admin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        440
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Sheet1",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.body.event }}",
            "request_id": "={{ $json.body.request_id }}",
            "user_id": "={{ $json.body.user_id }}",
            "title": "={{ $json.body.title ?? '' }}",
            "status": "={{ $json.body.status ?? '' }}",
            "admin_note": "={{ $json.body.admin_note ?? '' }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-created",
      "name": "Sheets log — created",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Sheet1",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.body.event }}",
            "request_id": "={{ $json.body.request_id }}",
            "user_id": "={{ $json.body.user_id }}",
            "title": "={{ $json.body.title ?? '' }}",
            "status": "={{ $json.body.status ?? '' }}",
            "admin_note": "={{ $json.body.admin_note ?? '' }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-status",
      "name": "Sheets log — status changed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Sheet1",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.body.event }}",
            "request_id": "={{ $json.body.request_id }}",
            "user_id": "={{ $json.body.user_id }}",
            "title": "={{ $json.body.title ?? '' }}",
            "status": "={{ $json.body.status ?? '' }}",
            "admin_note": "={{ $json.body.admin_note ?? '' }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-cancelled",
      "name": "Sheets log — cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        440
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch on event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on event": {
      "main": [
        [
          {
            "node": "LINE push — new request (admin)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets log — status changed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE push — cancelled (admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE push — new request (admin)": {
      "main": [
        [
          {
            "node": "Sheets log — created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE push — cancelled (admin)": {
      "main": [
        [
          {
            "node": "Sheets log — cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-16T00:00:00.000Z",
  "versionId": "1"
}